body {
    font-family: "Manrope", "sans-serif";
}

.landing {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 2em; 
}

.intro {
    color: papayawhip;
    color: white;
    margin-left: 2.5em;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.experience{
    margin-top: 1em;
}